docs/examples/2-web-app-with-preview.json
{
  "name": "E2B · Level 2 — Run a web app and return a preview URL",
  "nodes": [
    {
      "parameters": {
        "content": "## E2B — Web app with a public preview URL\n\nCreate a sandbox → **write** a tiny Python web server → start it on **port 3000** → return a public **preview URL**. Shows how to expose a running service from a sandbox to the internet.\n\n### Setup\n1. Add an **E2B API** credential (key at e2b.dev/dashboard) to every E2B node.",
        "height": 360,
        "width": 460,
        "color": "#CE2601"
      },
      "id": "aaaa0000-0000-0000-0000-0000000000a2",
      "name": "About & setup",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -380,
        120
      ]
    },
    {
      "parameters": {
        "content": "### How to run\nClick **Test workflow**, then open the `url` from the **Get Preview URL** output in your browser — the page is served live from the sandbox.\n\nThe sandbox (and the server) stays up until its timeout expires, then it is cleaned up automatically.",
        "height": 220,
        "width": 460,
        "color": 7
      },
      "id": "cccc0000-0000-0000-0000-0000000000c2",
      "name": "How to run",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -380,
        500
      ]
    },
    {
      "parameters": {},
      "id": "11111111-1111-1111-1111-111111111111",
      "name": "When clicking 'Test workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        200,
        320
      ]
    },
    {
      "parameters": {
        "resource": "sandbox",
        "operation": "create",
        "template": "",
        "allowInternetAccess": true
      },
      "id": "22222222-2222-2222-2222-222222222222",
      "name": "Create Sandbox",
      "type": "@e2b/n8n-nodes-e2b.e2b",
      "typeVersion": 1,
      "position": [
        440,
        320
      ],
      "credentials": {
        "e2bApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "E2B API account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "write",
        "sandboxId": "={{ $json.sandboxId }}",
        "path": "/home/user/server.py",
        "content": "from http.server import HTTPServer, BaseHTTPRequestHandler\n\nclass Handler(BaseHTTPRequestHandler):\n    def do_GET(self):\n        self.send_response(200)\n        self.send_header('Content-Type', 'text/html')\n        self.end_headers()\n        self.wfile.write(b'<h1>Hello from an E2B sandbox!</h1>')\n\nHTTPServer(('0.0.0.0', 3000), Handler).serve_forever()\n"
      },
      "id": "33333333-3333-3333-3333-333333333333",
      "name": "Write Server File",
      "type": "@e2b/n8n-nodes-e2b.e2b",
      "typeVersion": 1,
      "position": [
        680,
        320
      ],
      "credentials": {
        "e2bApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "E2B API account"
        }
      }
    },
    {
      "parameters": {
        "resource": "code",
        "operation": "runCommand",
        "sandboxId": "={{ $('Create Sandbox').item.json.sandboxId }}",
        "command": "nohup python3 /home/user/server.py > /tmp/server.log 2>&1 & sleep 1 && echo 'Server started on port 3000'",
        "allowInternetAccess": true
      },
      "id": "44444444-4444-4444-4444-444444444444",
      "name": "Start Web Server",
      "type": "@e2b/n8n-nodes-e2b.e2b",
      "typeVersion": 1,
      "position": [
        920,
        320
      ],
      "credentials": {
        "e2bApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "E2B API account"
        }
      }
    },
    {
      "parameters": {
        "resource": "sandbox",
        "operation": "getPreviewUrl",
        "sandboxId": "={{ $('Create Sandbox').item.json.sandboxId }}",
        "port": 3000
      },
      "id": "55555555-5555-5555-5555-555555555555",
      "name": "Get Preview URL",
      "type": "@e2b/n8n-nodes-e2b.e2b",
      "typeVersion": 1,
      "position": [
        1160,
        320
      ],
      "credentials": {
        "e2bApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "E2B API account"
        }
      }
    }
  ],
  "connections": {
    "When clicking 'Test workflow'": {
      "main": [
        [
          {
            "node": "Create Sandbox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Sandbox": {
      "main": [
        [
          {
            "node": "Write Server File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Server File": {
      "main": [
        [
          {
            "node": "Start Web Server",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Web Server": {
      "main": [
        [
          {
            "node": "Get Preview URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "e2b-example",
      "id": "e2b-example"
    }
  ],
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
