docs/examples/3-clone-build-download.json
{
  "name": "E2B · Level 3 — Clone a repo, build, download an artifact",
  "nodes": [
    {
      "parameters": {
        "content": "## E2B — Clone, build, download the artifact\n\nA CI-style template: create a sandbox → **git clone** a repo → run a build step → **download** the artifact into n8n as **binary data** → kill the sandbox.\n\n### Setup\n1. Add an **E2B API** credential (key at e2b.dev/dashboard) to every E2B node.",
        "height": 340,
        "width": 460,
        "color": "#CE2601"
      },
      "id": "aaaa0000-0000-0000-0000-0000000000a3",
      "name": "About & setup",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -380,
        120
      ]
    },
    {
      "parameters": {
        "content": "### How to run\nClick **Test workflow** — the **Download Artifact** node output carries the file as binary `data` (view or download it from the output panel).\n\nThe build step is a placeholder (`ls` into a file) — swap in your real build command and artifact path.",
        "height": 220,
        "width": 460,
        "color": 7
      },
      "id": "cccc0000-0000-0000-0000-0000000000c3",
      "name": "How to run",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -380,
        480
      ]
    },
    {
      "parameters": {},
      "id": "11111111-1111-1111-1111-111111111111",
      "name": "When clicking 'Test workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        200,
        320
      ]
    },
    {
      "parameters": {
        "resource": "sandbox",
        "operation": "create",
        "template": "",
        "allowInternetAccess": true
      },
      "id": "22222222-2222-2222-2222-222222222222",
      "name": "Create Sandbox",
      "type": "@e2b/n8n-nodes-e2b.e2b",
      "typeVersion": 1,
      "position": [
        440,
        320
      ],
      "credentials": {
        "e2bApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "E2B API account"
        }
      }
    },
    {
      "parameters": {
        "resource": "git",
        "operation": "clone",
        "sandboxId": "={{ $json.sandboxId }}",
        "repositoryUrl": "https://github.com/octocat/Hello-World.git",
        "repositoryPath": "/home/user/repo",
        "cloneOptions": {}
      },
      "id": "33333333-3333-3333-3333-333333333333",
      "name": "Clone Repo",
      "type": "@e2b/n8n-nodes-e2b.e2b",
      "typeVersion": 1,
      "position": [
        680,
        320
      ],
      "credentials": {
        "e2bApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "E2B API account"
        }
      }
    },
    {
      "parameters": {
        "resource": "code",
        "operation": "runCommand",
        "sandboxId": "={{ $('Create Sandbox').item.json.sandboxId }}",
        "command": "ls -la /home/user/repo > /tmp/build-output.txt && echo done",
        "allowInternetAccess": true
      },
      "id": "44444444-4444-4444-4444-444444444444",
      "name": "Run Build",
      "type": "@e2b/n8n-nodes-e2b.e2b",
      "typeVersion": 1,
      "position": [
        920,
        320
      ],
      "credentials": {
        "e2bApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "E2B API account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "download",
        "sandboxId": "={{ $('Create Sandbox').item.json.sandboxId }}",
        "remotePath": "/tmp/build-output.txt",
        "binaryPropertyName": "data"
      },
      "id": "55555555-5555-5555-5555-555555555555",
      "name": "Download Artifact",
      "type": "@e2b/n8n-nodes-e2b.e2b",
      "typeVersion": 1,
      "position": [
        1160,
        320
      ],
      "credentials": {
        "e2bApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "E2B API account"
        }
      }
    },
    {
      "parameters": {
        "resource": "sandbox",
        "operation": "kill",
        "sandboxId": "={{ $('Create Sandbox').item.json.sandboxId }}"
      },
      "id": "66666666-6666-6666-6666-666666666666",
      "name": "Kill Sandbox",
      "type": "@e2b/n8n-nodes-e2b.e2b",
      "typeVersion": 1,
      "position": [
        1400,
        320
      ],
      "credentials": {
        "e2bApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "E2B API account"
        }
      }
    }
  ],
  "connections": {
    "When clicking 'Test workflow'": {
      "main": [
        [
          {
            "node": "Create Sandbox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Sandbox": {
      "main": [
        [
          {
            "node": "Clone Repo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clone Repo": {
      "main": [
        [
          {
            "node": "Run Build",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Build": {
      "main": [
        [
          {
            "node": "Download Artifact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Artifact": {
      "main": [
        [
          {
            "node": "Kill Sandbox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "e2b-example",
      "id": "e2b-example"
    }
  ],
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
