docs/examples/4-ai-agent-tool.json
{
  "name": "E2B · Level 4 — AI Agent runs code as a tool",
  "nodes": [
    {
      "parameters": {
        "content": "## E2B — AI Agent runs code as a tool\n\nThe agent controls **one E2B sandbox** through four tools: `run_command`, `write_file`, `read_file`, `list_files`. State persists **across tool calls _and_ across chat runs** — the sandbox is tagged with metadata, found again on the next run, and *paused* (not killed) between runs, so files survive. The first message creates it; later messages resume the same one.\n\n### Setup\n1. Add an **E2B API** credential (key at e2b.dev/dashboard) to every E2B node.\n2. Add an **OpenAI** credential to the chat model.\n\n### Reset\nKill the tagged sandbox (or let it expire) to start fresh — a new one is created and tagged automatically.",
        "height": 524,
        "width": 460,
        "color": "#CE2601"
      },
      "id": "aaaa0000-0000-0000-0000-0000000000aa",
      "name": "About & setup",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -384,
        32
      ]
    },
    {
      "parameters": {
        "content": "### How to run\nClick **Chat** (bottom of the canvas), paste the prompt on the right, and send.\n\nThen send it **again** — the run counter goes up because the sandbox and its files persist between chats.",
        "height": 232,
        "width": 460,
        "color": 7
      },
      "id": "cccc0000-0000-0000-0000-0000000000cc",
      "name": "How to run",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -384,
        592
      ]
    },
    {
      "parameters": {
        "content": "```\nThis sandbox persists across chats. Run this one command, then reply with ONLY its raw output inside a code block (no extra prose):\n\nrun_command:\nmkdir -p /home/user \\\n  && echo \"run $(date -u +%FT%TZ)\" >> /home/user/runs.log \\\n  && printf \"Run #%s\\n\\n\" \"$(wc -l < /home/user/runs.log)\" \\\n  && cat -n /home/user/runs.log\n```",
        "height": 248,
        "width": 680,
        "color": 7
      },
      "id": "bbbb0000-0000-0000-0000-0000000000bb",
      "name": "Example prompt",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -384,
        864
      ]
    },
    {
      "parameters": {
        "content": "### Persistence across chats\n`Find Sandbox` uses **Get → By Metadata** — E2B filters **server-side** for the sandbox tagged `purpose=n8n-agent-persist` (one API call, no client-side scan; paused sandboxes match too). If found it is reused (and resumed from pause). If none matches, the node errors — *On Error: Continue* turns that into an empty item, so `Has sandbox?` routes to `Create Sandbox`, which makes a new tagged one. After the agent runs, `Pause Sandbox` suspends it — the next chat finds and resumes the *same* sandbox, so files persist.",
        "height": 268,
        "width": 640,
        "color": 7
      },
      "id": "dddd0000-0000-0000-0000-0000000000dd",
      "name": "Persistence note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        400,
        -48
      ]
    },
    {
      "parameters": {},
      "id": "11111111-1111-1111-1111-111111111111",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        384,
        272
      ],
      "webhookId": "e2b-agent-example-webhook"
    },
    {
      "parameters": {
        "resource": "sandbox",
        "operation": "get",
        "getBy": "metadata",
        "filterMetadataJson": "{ \"purpose\": \"n8n-agent-persist\" }"
      },
      "id": "22220000-0000-0000-0000-000000000022",
      "name": "Find Sandbox",
      "type": "@e2b/n8n-nodes-e2b.e2b",
      "typeVersion": 1,
      "position": [
        688,
        272
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput",
      "credentials": {
        "e2bApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "E2B API account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.sandboxId ?? '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "44440000-0000-0000-0000-000000000044",
      "name": "Has sandbox?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        992,
        272
      ]
    },
    {
      "parameters": {
        "resource": "sandbox",
        "operation": "create",
        "template": "",
        "metadataJson": "{ \"purpose\": \"n8n-agent-persist\" }",
        "allowInternetAccess": true
      },
      "id": "55550000-0000-0000-0000-000000000055",
      "name": "Create Sandbox",
      "type": "@e2b/n8n-nodes-e2b.e2b",
      "typeVersion": 1,
      "position": [
        1232,
        96
      ],
      "credentials": {
        "e2bApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "E2B API account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "sandboxId",
              "value": "={{ $json.sandboxId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "66660000-0000-0000-0000-000000000066",
      "name": "Sandbox ready",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1488,
        288
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {
          "systemMessage": "You control ONE E2B cloud sandbox that PERSISTS across chats through these tools: run_command (bash), write_file, read_file, list_files. Files you create remain available in later messages.\n\nRules:\n- A tool may return an error (e.g. read_file returns 404 if the file does not exist yet). Do NOT stop — create the file first (run_command or write_file), then retry.\n- For append-style logs use run_command with >> (write_file OVERWRITES the whole file).\n- To run Python use run_command with python3 -c \"...\" or write a script and run it.\n- When the user asks for output, reply with the tool's raw stdout inside a fenced code block — no extra prose, no restating."
        }
      },
      "id": "77770000-0000-0000-0000-000000000077",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1712,
        288
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "88880000-0000-0000-0000-000000000088",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1344,
        528
      ],
      "credentials": {
        "openAiApi": {
          "id": "REPLACE_WITH_YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Run a BASH shell command in the sandbox and return its stdout. This is a shell, not a Python REPL — to run Python use python3 -c \"<code>\" or execute a script file.",
        "resource": "code",
        "operation": "runCommand",
        "sandboxId": "={{ $('Sandbox ready').item.json.sandboxId }}",
        "command": "={{ $fromAI('command', 'a single bash command to run in the sandbox, e.g. ls -la /home/user or python3 script.py') }}",
        "allowInternetAccess": true
      },
      "id": "99990000-0000-0000-0000-000000000099",
      "name": "run_command",
      "type": "@e2b/n8n-nodes-e2b.e2bTool",
      "typeVersion": 1,
      "position": [
        1536,
        528
      ],
      "credentials": {
        "e2bApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "E2B API account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "toolDescription": "Write a text file in the sandbox at an absolute path, creating it or overwriting any existing file.",
        "resource": "file",
        "operation": "write",
        "sandboxId": "={{ $('Sandbox ready').item.json.sandboxId }}",
        "path": "={{ $fromAI('path', 'absolute file path, e.g. /home/user/script.py') }}",
        "content": "={{ $fromAI('content', 'the full text content to write to the file') }}"
      },
      "id": "aaaa1111-0000-0000-0000-0000000000a1",
      "name": "write_file",
      "type": "@e2b/n8n-nodes-e2b.e2bTool",
      "typeVersion": 1,
      "position": [
        1712,
        528
      ],
      "credentials": {
        "e2bApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "E2B API account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "toolDescription": "Read a text file from the sandbox at an absolute path and return its contents.",
        "resource": "file",
        "operation": "read",
        "sandboxId": "={{ $('Sandbox ready').item.json.sandboxId }}",
        "path": "={{ $fromAI('path', 'absolute file path to read, e.g. /home/user/output.txt') }}"
      },
      "id": "bbbb1111-0000-0000-0000-0000000000b1",
      "name": "read_file",
      "type": "@e2b/n8n-nodes-e2b.e2bTool",
      "typeVersion": 1,
      "position": [
        1888,
        528
      ],
      "credentials": {
        "e2bApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "E2B API account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "toolDescription": "List files in a sandbox directory at an absolute path.",
        "resource": "file",
        "operation": "list",
        "sandboxId": "={{ $('Sandbox ready').item.json.sandboxId }}",
        "path": "={{ $fromAI('path', 'absolute directory path, e.g. /home/user') }}",
        "depth": 1
      },
      "id": "cccc1111-0000-0000-0000-0000000000c1",
      "name": "list_files",
      "type": "@e2b/n8n-nodes-e2b.e2bTool",
      "typeVersion": 1,
      "position": [
        2064,
        528
      ],
      "credentials": {
        "e2bApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "E2B API account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "sandbox",
        "operation": "pause",
        "sandboxId": "={{ $('Sandbox ready').item.json.sandboxId }}"
      },
      "id": "dddd1111-0000-0000-0000-0000000000d1",
      "name": "Pause Sandbox",
      "type": "@e2b/n8n-nodes-e2b.e2b",
      "typeVersion": 1,
      "position": [
        1936,
        288
      ],
      "credentials": {
        "e2bApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "E2B API account"
        }
      }
    },
    {
      "parameters": {
        "content": "### Reset — delete the persistent sandbox\nA separate flow to wipe the agent’s memory. `Find Sandbox (reset)` uses the same **Get → By Metadata** lookup as the chat flow to locate the sandbox tagged `purpose=n8n-agent-persist`, then **kills** it, so the next chat starts fresh. If nothing matches, the node errors with “No sandbox found” — nothing to reset. Not connected to the chat flow — run it manually with the ▶ button.",
        "height": 200,
        "width": 700,
        "color": 7
      },
      "id": "eeee0000-0000-0000-0000-0000000000ee",
      "name": "Reset flow",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        384,
        704
      ]
    },
    {
      "parameters": {},
      "id": "r1110000-0000-0000-0000-0000000000r1",
      "name": "Reset — delete persistent sandbox",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        384,
        944
      ]
    },
    {
      "parameters": {
        "resource": "sandbox",
        "operation": "kill",
        "sandboxId": "={{ $json.sandboxId }}"
      },
      "id": "r4440000-0000-0000-0000-0000000000r4",
      "name": "Kill persistent sandbox",
      "type": "@e2b/n8n-nodes-e2b.e2b",
      "typeVersion": 1,
      "position": [
        832,
        944
      ],
      "credentials": {
        "e2bApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "E2B API account"
        }
      }
    },
    {
      "parameters": {
        "resource": "sandbox",
        "operation": "get",
        "getBy": "metadata",
        "filterMetadataJson": "{ \"purpose\": \"n8n-agent-persist\" }"
      },
      "id": "r2220000-0000-0000-0000-0000000000r2",
      "name": "Find Sandbox (reset)",
      "type": "@e2b/n8n-nodes-e2b.e2b",
      "typeVersion": 1,
      "position": [
        608,
        944
      ],
      "credentials": {
        "e2bApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "E2B API account"
        }
      }
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Find Sandbox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Sandbox": {
      "main": [
        [
          {
            "node": "Has sandbox?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has sandbox?": {
      "main": [
        [
          {
            "node": "Create Sandbox",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sandbox ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Sandbox": {
      "main": [
        [
          {
            "node": "Sandbox ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sandbox ready": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Pause Sandbox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "run_command": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "write_file": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "read_file": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "list_files": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Reset — delete persistent sandbox": {
      "main": [
        [
          {
            "node": "Find Sandbox (reset)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Sandbox (reset)": {
      "main": [
        [
          {
            "node": "Kill persistent sandbox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "e2b-example",
      "id": "e2b-example"
    }
  ],
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
